@page
@model Ttrac.Presentacion.Pages.Tiquetes.TiquetesModel
@{
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb mt-4 bg-light">
            <li class="breadcrumb-item"><a href="/Tiquetes/Tiquetes"><i class="fas fa-home"></i></a></li>
            <li class="breadcrumb-item" aria-current="page"><a href="/Tiquetes/Tiquetes">Tiquetes</a></li>
            <li class="breadcrumb-item active" aria-current="page">Detalle del tiquete</li>
        </ol>
    </nav>

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-3">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        @*Primer Columna*@

                        <div class="col-lg-12">

                            <div class="p-2">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="text-start">
                                            <h1 class="h4 text-gray-900 mb-4">Detalle del tiquete</h1>
                                        </div>
                                    </div>
                                </div>

                        </div>
                            <div class="row bg-light mb-2 mx-auto">
                                @* Selección de Ordenar por *@
                                <div class="col-sm-2 col-md-2 ">
                                    <div class="py-3 ">
                                        <label for="estado">Ordenar por:</label>
                                        <select class="form-select rounded custom-select">

                                            <option value="fecha">Fecha</option>
                                            <option value="prioridad">Prioridad</option>
                                        </select>
                                    </div>
                                </div>

                                @* Selección de forma asc o desc *@

                                <div class="col-sm-2 col-md-2 ">
                                    <div class="py-3 ">
                                        <label for="categoria">De forma:</label>
                                        <select class="form-select rounded custom-select">
                                            <option value="ascendente">Ascendente</option>
                                            <option value="descendente">Descendente</option>

                                        </select>
                                    </div>
                                </div>

                                @*Checks de configuración*@

                                <div class="col-sm-2 col-md-2 ">
                                    <div class="px-1 pt-4">

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                Mensajes públicos
                                            </label>
                                        </div>
                                    </div>
                                       </div>
                                <div class="col-sm-2 col-md-2 ">
                                    <div class="px-1 pt-4">

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                Mensajes privados
                                            </label>
                                        </div>
                                    </div>
                                </div>
                               <div class="col-sm-2 col-md-2 ">
                                    <div class="px-1 pt-4">

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                Cambios de propiedades
                                            </label>
                                        </div>
                                    </div>
                                       </div>
                                   <div class="col-sm-2 col-md-2 ">
                                    <div class="px-1 pt-4">

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                Cambios de agentes
                                            </label>
                                        </div>
                                    </div>
                                       </div>

                            </div>

                           @* Fichas de detalle de tiquete *@

                            <div class="row">

                        <div class="col-lg-9">

                                     <div class="row mx-2 my-2">
                                        <div class="col-lg-9">
                                            <h6 ><b>700 - La página web principal no está funcionando</b></h6>
                                        </div>
                                        <div class="col-lg-3">
                                            <h6 class=" text-right"><i class="fas fa-layer-group"></i> <b> Abierto</b></h6>
                                        </div>
                                    </div>

                                    <div class="row mx-2">
                                        <div class="col-lg-12">
                                            <div class="row">
                                                <div class="col-lg-2">
                                                    <i class="fas fa-envelope"></i> <p class="card-text"><small>Correo electrónico</small></p>
                                                </div>
                                                <div class="col-lg-2">
                                                    <i class="fas fa-users"></i> <p class="card-text"><small>Atención del correo</small></p>
                                                </div>
                                                <div class="col-lg-2">
                                                    <i class="fas fa-headset"></i> <p class="card-text"><small>Juan Pérez Pérez</small></p>
                                                </div>
                                                <div class="col-lg-2">
                                                    <i class="fas fa-shapes"></i> <p class="card-text"><small>Problemas técnicos</small></p>
                                                </div>
                                                <div class="col-lg-2">
                                                    <i class="fas fa-circle"></i> <p class="card-text"><small>Urgente</small></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mx-2">
                                        <div class="col-lg-12">
                                            <div class="row">
                                                <div class="col-lg-2">
                                                    <p class="card-text" style="font-size: 10px;"><small>55 minutos</small></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                              

                                <div class="row mx-2">
                                        <div class="card my-1 border-0 shadow-sm">
                                        <div class="card-body ">
    
                                            <div class="row">
                                                
                                                <div class="col-lg-4">
                                                        <p> <small>Escrito por: <b>cliente@dominio.com</b></small></p>
                                                </div>
                                                    <div class="col-lg-4">
                                                        <p><small>Para: <b>empresa@dominio.com</b> </small></p>
                                                    </div>

                                                    <div class="col-lg-3 text-right">
                                                        <p><small>Público</small></p>
                                                    </div>
                                            </div>
                                            <hr/>

                                                <div class="row">

                                                    <div class="col-lg-12">
                                                        <p>
                                                            <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                                            </small>
                                                        </p>
                                                        <hr/>
                                                    </div>
                     
                                                </div>
                                             <div class="row">

                                                    <div class="col-lg-12">
                                                        <p>
                                                            <small> Aquí se muestran los archivos adjuntos</small>
                                                        </p>
                                                      
                                                    </div>
                     
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="row">
                                                            <div class="col-lg-2">
                                                                <p class="card-text" style="font-size: 10px;">55 minutos</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                </div>


                                    <div class="row mx-2">
                                        <div class="card my-1 border-0 shadow-sm">
                                            <div class="card-body ">

                                                <div class="row">

                                                    <div class="col-lg-4">
                                                        <p> <small>Escrito por agente: <b>Juan Pérez Pérez</b></small></p>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <p><small>Para: <b>cliente@dominio.com</b> </small></p>
                                                    </div>

                                                    <div class="col-lg-3 text-right">
                                                        <p><small>Público</small></p>
                                                    </div>
                                                </div>
                                                <hr />

                                                <div class="row">

                                                    <div class="col-lg-12">
                                                        <p>
                                                            <small>
                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                                            </small>
                                                        </p>
                                                        <hr />
                                                    </div>

                                                </div>
                                                <div class="row">

                                                    <div class="col-lg-12">
                                                        <p>
                                                            <small> Aquí se muestran los archivos adjuntos</small>
                                                        </p>
                                                       
                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="row">
                                                            <div class="col-lg-2">
                                                                <p class="card-text" style="font-size: 10px;">40 minutos</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                            </div>
                        

                        @* Segunda columna*@

                        <div class="col-lg-3 bg-light rounded">


                            <div class="row">
                                @* Propiedades del tiquete *@
                                <div class="col-lg-12 col-md-2 ">
                                    <div class="pt-2 px-3">
                                        <h6> <b>Propiedades del tiquete</b> </h6>
                                    </div>
                                </div>
                            </div>

                                    <div class="row">
                                        @* Estado *@
                                        <div class="col-lg-12 col-md-2 ">
                                            <div class="px-3 py-2">
                                                <label for="estado">Estado:</label>
                                                <select class="form-select rounded custom-select">
                                                    <option value="abierto">Abierto</option>
                                                   
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                            <div class="row">
                                @* Categoría *@
                                <div class="col-lg-12 col-md-2 ">
                                    <div class="px-3 py-2">
                                        <label for="categoria">Categoría:</label>
                                        <select class="form-select rounded custom-select">
                                            <option value="problemas">Problemas técnicos</option>
                                            <option value="prioridad">Prioridad</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                @* Prioridad *@
                                <div class="col-lg-12 col-md-2 ">
                                    <div class="px-3 py-2">
                                        <label for="prioridad">Prioridad</label>
                                        <select class="form-select rounded custom-select">
                                            <option value="urgente">Urgente</option>
                                           
                                        </select>
                                    </div>
                                </div>
                            </div>

                           @* Aplicar cambios*@

                            <div class="row">

                                <div class="col-lg-12 col-md-2 ">
                                    <div class="px-3 py-2">

                                        <button type="button" class="btn btn-primary btn-block">
                                                    <small> Aplicar cambios </small>
                                        </button>


                                    </div>
                                </div>
                            </div>


                             <div class="row">
                                @* Agente *@
                                <div class="col-lg-12 col-md-2 ">
                                            <div class="pt-2 px-3">
                                        <h6> <b>Agente</b> </h6>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                @* Grupo de agentes *@
                                <div class="col-lg-12 col-md-2 ">
                                    <div class="px-3 py-2">
                                   <label for="grupo">Grupo del agente</label>
                              
                                    <div class="input-group">

                                        <input type="text" class="form-control rounded" value="Atención del correo" disabled>
      
                                    </div>
                                        
                                    </div>
                                </div>
                            </div>

                                    <div class="row">
                                        @* Agente asignado *@
                                        <div class="col-lg-12 col-md-2 ">
                                            <div class="px-3 py-2">
                                                <label for="agente">Agente asignado</label>

                                                <div class="input-group">

                                                    <input type="text" class="form-control rounded" value="Juan Pérez Pérez" disabled>

                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                 @* Solicitar cambio de agente*@


                            <div class="row">

                                <div class="col-lg-12 col-md-2 ">
                                    <div class="px-3 py-2">

                                        <button type="button" class="btn btn-primary btn-block">
                                                    <small> Solicitar cambio de agente </small>
                                        </button>


                                    </div>
                                </div>
                            </div>

                                <div class="row">
                                @* Ver respuestas *@
                                <div class="col-lg-12 col-md-2 ">
                                            <div class="pt-2 px-3">
                                        <h6> <b>  Respuestas comunes</b> </h6>
                                    </div>
                                </div>
                            </div>


                            <div class="row">

                                <div class="col-lg-12 col-md-2 ">
                                    <div class="px-3 py-2">

                                        <button type="button" class="btn btn-primary btn-block">
                                                    <small> Ver respuestas </small>
                                        </button>


                                    </div>
                                </div>
                            </div>

                        </div>
                            </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
