@page
@model Ttrac.Presentacion.Pages.Tiquetes.TiquetesModel
<div class="pl-4 pr-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-light">
            <li class="breadcrumb-item"><a href="/Tiquetes/Tiquetes"><i class="fas fa-fw fa-ticket-alt"></i> Tiquetes</a></li>
        </ol>
    </nav>
    <div class="row justify-content-center">
        <div class="col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg">
                <div class="card-body mb-4">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        @*Primera fila*@
                        <div class="col-lg-9">
                            <div class="p-4">
                                <div class="row">
                                    <div class="col-lg-3">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Tiquetes</h1>
                                </div>
                                    </div>
                                </div>
                                
                               @* Lista de tiquetes *@

                                <div class="row">
                                    <div class="card my-1 border-0 shadow-sm">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-lg-9">
                                                    <h6 class="card-title">
                                                        <a class="collapse-item" href="/Tiquetes/Detalle"><b>700 - La página web principal no está funcionando</b></a>
                                                    </h6>
                                                </div>
                                                <div class="col-lg-3">
                                                    <h6 class="card-title text-right"><i class="fas fa-layer-group"></i> <b> Abierto</b></h6>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="row">
                                                        <div class="col-lg-2">
                                                            <i class="fas fa-envelope"></i> <p class="card-text"><small>Correo electrónico</small></p>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <i class="fas fa-users"></i> <p class="card-text"><small>Atención del correo</small></p>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <i class="fas fa-headset"></i> <p class="card-text"><small>Juan Pérez Pérez</small></p>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <i class="fas fa-shapes"></i> <p class="card-text"><small>Problemas técnicos</small></p>
                                                        </div>
                                                        <div class="col-lg-2" style="color: #E74C3C; text-align:center">
                                                            <i class="fas fa-circle"></i> <p class="card-text"><small>Urgente</small></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="row">
                                                        <div class="col-lg-2">
                                                            <p class="card-text" style="font-size: 10px;"><small>5 minutos</small></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <div class="row">
                                    <div class="card my-1 border-0 shadow-sm">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-lg-9">
                                                    <a class="collapse-item" href="/Tiquetes/Detalle">
                                                    <h6 class="card-title"><b>699 - ¿Cuál es el horario de atención de las oficinas centrales?</b></h6>
                                                    </a>
                                                </div>
                                                <div class="col-lg-3">
                                                    <h6 class="card-title text-right"><i class="fas fa-layer-group"></i> <b> Resuelto</b></h6>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="row">
                                                        <div class="col-lg-2">
                                                            <i class="fas fa-laptop"></i> <p class="card-text"><small>Sistema</small></p>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <i class="fas fa-users"></i> <p class="card-text"><small>Soporte redes sociales</small></p>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <i class="fas fa-headset"></i> <p class="card-text"><small>Juan Pérez Pérez</small></p>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <i class="fas fa-shapes"></i> <p class="card-text"><small>Sin especificar</small></p>
                                                        </div>
                                                        <div class="col-lg-2" style="color: #F1C40F; text-align:center">
                                                            <i class="fas fa-circle"></i> <p class="card-text"><small>Alta</small></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="row">
                                                        <div class="col-lg-2">
                                                            <p class="card-text" style="font-size: 10px;">40 minutos</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="card my-1 border-0 shadow-sm">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-lg-9">
                                                    <a class="collapse-item" href="/Tiquetes/Detalle">
                                                    <h6 class="card-title"><b>698 - Quiero saber el estado de mi trámite</b></h6>
                                                    </a>
                                                </div>
                                                <div class="col-lg-3">
                                                    <h6 class="card-title text-right"><i class="fas fa-layer-group"></i> <b> Esperando respuesta</b></h6>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="row">
                                                        <div class="col-lg-2">
                                                            <i class="fas fa-envelope"></i> <p class="card-text"><small>Correo electrónico</small></p>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <i class="fas fa-users"></i> <p class="card-text"><small>Atención al cliente</small></p>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <i class="fas fa-headset"></i> <p class="card-text"><small>Juan Pérez Pérez</small></p>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <i class="fas fa-shapes"></i> <p class="card-text"><small>Sin especificar</small></p>
                                                        </div>
                                                        <div class="col-lg-2" style="color: #27AE60 ; text-align:center">
                                                            <i class="fas fa-circle"></i> <p class="card-text"><small>Baja</small></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="row">
                                                        <div class="col-lg-2">
                                                            <p class="card-text" style="font-size: 10px;">2 horas</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                
                                    <div class="row">
                                        @* Selección de Ordenar por *@
                                        <div class="col-lg-3 col-md-2 ">
                                            <div class="py-3 ">
                                                <label for="estado">Ordenar por:</label>
                                                <select class="form-select rounded custom-select">
                                                
                                                    <option value="fecha">Fecha</option>
                                                    <option value="prioridad">Prioridad</option>
                                                </select>
                                            </div>
                                        </div>

                                        @* Selección de forma asc o desc *@

                                        <div class="col-lg-3 col-md-2 ">
                                            <div class="py-3">
                                                <label for="categoria">De forma:</label>
                                                <select class="form-select rounded custom-select">
                                                <option value="ascendente">Ascendente</option>
                                                <option value="descendente">Descendente</option>
                                            
                                                </select>
                                            </div>
                                        </div>

                                        @*Paginación*@

                                        <div class="col-lg-6 col-md-3  d-flex align-items-center justify-content-end">
                                            <div class="pt-5 px-5 ">

                                            
                                           
                                            <nav aria-label="Page navigation example">
                                                <ul class="pagination">
                                                    <li class="page-item">
                                                        <a class="page-link" href="#" aria-label="Previous">
                                                            <span aria-hidden="true">&laquo;</span>
                                                        </a>
                                                    </li>
                                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                    <li class="page-item">
                                                        <a class="page-link" href="#" aria-label="Next">
                                                            <span aria-hidden="true">&raquo;</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </nav>
                                
                                            </div>
                                        </div>
                                    </div>
                

                            </div>
                        </div>

                        @* Segunda columna*@

                        <div class="col-lg-3 bg-light">




                            <div class="row">
                                @* Filtros *@
                                <div class="col-lg-12 col-md-2 ">
                                    <div class="pt-3 px-3">
                                        <h6> <b>Filtros</b> </h6>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                @* Campo de búsqueda *@
                                <div class="col-lg-12 col-md-2 ">
                                    <div class="px-3 py-2">
                                        <div class="input-group">

                                            <input type="text" class="form-control rounded" placeholder="Buscar">
                                            <div class="input-group-append">
                                                <button class="btn btn-primary ms-2 rounded" type="button" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Buscar respuesta">
                                                    <i class="fas fa-search"></i>
                                                </button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
            
                            <div class="row">
                                @* Selección periodo de tiempo *@
                                <div class="col-lg-12 col-md-2 ">
                                    <div class="px-3 py-2">
                                        <label for="periodo">Ordenar por:</label>
                                        <select class="form-select rounded custom-select">
                                            <option value="rangoFecha">Rango de fecha</option>
                                         @*   <option value="prioridad">Prioridad</option>*@
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                @* Seleccionar fecha de inicio *@
                                <div class="col-lg-12 col-md-2 ">
                                    <div class="px-3 py-2">
                                        <label for="inicio">Fecha desde:</label>
                                        <div class="input-group">
                                           
                                            <input type="date" class="form-control rounded" >
                
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                @* Seleccionar fecha fin *@
                                <div class="col-lg-12 col-md-2 ">
                                    <div class="px-3 py-2">
                                        <label for="fin">Fecha hasta:</label>
                                        <div class="input-group">

                                            <input type="date" class="form-control rounded">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                @* Selección de estado *@
                                <div class="col-lg-12 col-md-2 ">
                                    <div class="px-3 py-2">
                                        <label for="estado">Estado:</label>
                                        <select class="form-select rounded custom-select">
                                            <option value="todos">Todos</option>
                                            <option value="activo">Activo</option>
                                            <option value="activo">Inactivo</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                @* Selección de grupo de agentes *@
                                <div class="col-lg-12 col-md-2 ">
                                    <div class="px-3 py-2">
                                        <label for="grupo">Grupo de agentes:</label>
                                        <select class="form-select rounded custom-select">
                                            <option value="1">Todos</option>
                                           @* <option value="2"></option>*@
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                @* Selección de canal de comunicación *@
                                <div class="col-lg-12 col-md-2 ">
                                    <div class="px-3 py-2">
                                        <label for="canal">Canal de comunicación:</label>
                                        <select class="form-select rounded custom-select">
                                            <option value="todos">Todos</option>
                                            <option value="sistema">Sistema</option>
                                            <option value="correo">Correo</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                             <div class="row">
                                @* Selección de Categoría *@
                                <div class="col-lg-12 col-md-2 ">
                                    <div class="px-3 py-2">
                                        <label for="categoria">Categoría:</label>
                                        <select class="form-select rounded custom-select">
                                            <option value="todos">Todas</option>
@*                                            <option value="sistema">Sistema</option>
                                            <option value="correo">Correo</option>*@
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                @* Selección de Prioridad *@
                                <div class="col-lg-12 col-md-2 ">
                                    <div class="px-3 py-2">
                                        <label for="prioridad">Prioridad:</label>
                                        <select class="form-select rounded custom-select">
                                            <option value="todos">Todas</option>
                                            <option value="urgente">Urgente</option>
                                            <option value="alta">Alta</option>
                                            <option value="baja">Baja</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                @* Check de Solo mis tiquetes asignados *@
                                <div class="col-lg-12 col-md-2 ">
                                    <div class="px-3 py-2">
                                        
                                        <div class="form-check ">
                                            <input class="form-check-input " type="checkbox" value="" id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                Solo mis tiquetes asignados
                                            </label>
                                        </div>


                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                @* Botón de aplicar filtros *@
                                <div class="col-lg-12 col-md-2 ">
                                    <div class="px-3 py-3">

                                        <button type="button" class="btn btn-primary btn-block">
                                            Aplicar
                                        </button>


                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>