@page
@model Ttrac.Presentacion.Pages.Estadisticas.NumeroTiquetesModel
@{
}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb mt-4 bg-light">
            <li class="breadcrumb-item"><a href="/Index"><i class="fas fa-home"></i></a></li>
            <li class="breadcrumb-item active" aria-current="page">Número de Tiquetes de hoy</li>
        </ol>
    </nav>

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-3">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        @*Primera fila*@
                        <div class="col-lg-12">
                            <div class="p-4">
                                <div class="text-left">
                                    <h1 class="h4 text-gray-900 mb-4">Estadísticas - Número de Tiquetes de hoy</h1>
                                </div>

                            </div>


                          
                                <div class="row">
                                    <div class="col-lg-9 ">
                                      
                                   
                                        <div class="row px-2 align-items-center">
                                            <div class="col-lg-12 text-center">
                                                <p class="card-text"><small> <b>Números de los tiquetes</b></small></p>
                                            </div>
             
                                        </div>

                                        <div class="card my-1 mx-3 border-0 shadow-sm bg-light">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-lg-6">

                                                        <p class="card-text"><small>Tiquetes totales</small></p>
                                                        <h6 class="card-title"><b>31</b></h6>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <p class="card-text"><small>Tiquetes nuevos</small></p>
                                                        <h6 class="card-title"><b>15</b></h6>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <p class="card-text"><small>Tiquetes cerrados</small></p>
                                                        <h6 class="card-title"><b>13</b></h6>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <p class="card-text"><small>Sin primera respuesta</small></p>
                                                        <h6 class="card-title"><b>3</b></h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    <div class="row mx-1 my-2">
                                        @* Tabla de contenido*@
                                        <div class="table-responsive">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Id tiquete</th>
                                                        <th scope="col">Grupo de agente</th>
                                                        <th scope="col">Agente encargado</th>
                                                        <th scope="col">Canal</th>
                                                        <th scope="col">Fecha creación</th>
                                                        <th scope="col">Estado</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1645</td>
                                                        <td>Servicio al cliente</td>
                                                        <td>Juan Pérez Pérez</td>
                                                        <td>Correo</td>
                                                        <td>10/02/23 14:30</td>
                                                        <td> Resuelto </td>
                                                    </tr>
                                                    <tr>
                                                        <td>1646</td>
                                                        <td>Atención redes sociales</td>
                                                        <td>Juan Pérez Pérez</td>
                                                        <td>Sistema</td>
                                                        <td>10/02/23 17:00</td>
                                                        <td> Abierto </td>
                                                    </tr>
                                                    <tr>
                                                        <td>1647</td>
                                                        <td>Servicio al cliente</td>
                                                        <td>Juan Pérez Pérez</td>
                                                        <td>Sistema</td>
                                                        <td>11/02/23 14:30</td>
                                                        <td> Resuelto </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="container-fluid">
                                        <div class="row">
                                            <!-- Selección de número de registros -->
                                            <div class="col-lg-6 col-md-12 mb-3">
                                                <div class="row">
                                                    <div class="col-lg-5 d-flex justify-content-end">
                                                        <div>
                                                            <label for="nRegistro">Registro por página:</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div>
                                                            <select class="form-select rounded custom-select">
                                                                <option value="opcion1">5</option>
                                                                <option value="opcion2">10</option>
                                                                <option value="opcion3">25</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Paginación -->
                                            <div class="col-lg-6 col-md-12 d-flex align-items-center justify-content-end">
                                                <div class="px-5 mb-4">
                                                    <nav aria-label="Page navigation example">
                                                        <ul class="pagination">
                                                            <li class="page-item">
                                                                <a class="page-link" href="#" aria-label="Previous">
                                                                    <span aria-hidden="true">&laquo;</span>
                                                                </a>
                                                            </li>
                                                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                            <li class="page-item">
                                                                <a class="page-link" href="#" aria-label="Next">
                                                                    <span aria-hidden="true">&raquo;</span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </nav>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                 
                                    </div>






                                @* Segunda columna*@

                                <div class="col-lg-3 bg-light">




                                    <div class="row">
                                        @* Filtros *@
                                        <div class="col-lg-12 col-md-2 ">
                                            <div class="pt-3 px-3">
                                                <h6> <b>Filtros</b> </h6>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        @* Selección periodo de tiempo *@
                                        <div class="col-lg-12 col-md-2 ">
                                            <div class="px-3 py-2">
                                                <label for="periodo">Ordenar por:</label>
                                                <select class="form-select rounded custom-select">
                                                    <option value="rangoFecha">Rango de fecha</option>
                                                    @*   <option value="prioridad">Prioridad</option>*@
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        @* Seleccionar fecha de inicio *@
                                        <div class="col-lg-12 col-md-2 ">
                                            <div class="px-3 py-2">
                                                <label for="inicio">Fecha desde:</label>
                                                <div class="input-group">

                                                    <input type="date" class="form-control rounded">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        @* Seleccionar fecha fin *@
                                        <div class="col-lg-12 col-md-2 ">
                                            <div class="px-3 py-2">
                                                <label for="fin">Fecha hasta:</label>
                                                <div class="input-group">

                                                    <input type="date" class="form-control rounded">

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        @* Selección de grupo de agentes *@
                                        <div class="col-lg-12 col-md-2 ">
                                            <div class="px-3 py-2">
                                                <label for="grupo">Grupo de agentes:</label>
                                                <select class="form-select rounded custom-select">
                                                    <option value="todos">Todos</option>
                                                    <option value="1">Servicio al cliente</option>
                                                    <option value="2">Atención redes sociales</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        @* Selección de canal de comunicación *@
                                        <div class="col-lg-12 col-md-2 ">
                                            <div class="px-3 py-2">
                                                <label for="canal">Canal de comunicación:</label>
                                                <select class="form-select rounded custom-select">
                                                    <option value="todos">Todos</option>
                                                    <option value="sistema">Sistema</option>
                                                    <option value="correo">Correo</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        @* Exportar *@
                                        <div class="col-lg-12 col-md-2 ">
                                            <div class="pt-3 px-3">
                                                <h6> <b>Exportar</b> </h6>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        @* Métodos de exportación *@
                                        <div class="col-lg-12 col-md-2 ">
                                            <div class="px-3 py-2">
                                                <label for="canal">Tipo de archivo:</label>
                                                <select class="form-select rounded custom-select">
                                                    <option value="todos">PDF(.pdf)</option>
                                                    <option value="sistema">Excel (.xlsx)</option>
                                                  
                                                </select>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        @* Botón de aplicar filtros *@
                                        <div class="col-lg-12 col-md-2 ">
                                            <div class="px-3 py-3">

                                                <button type="button" class="btn btn-primary btn-block">
                                                    Exportar
                                                </button>


                                            </div>
                                        </div>
                                    </div>

                                </div>
      
                                </div>
                         



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>