@page
@model Ttrac.Presentacion.Pages.Shared._FooterModel

    <!-- Footer -->
    <footer class="sticky-footer bg-white mt-4">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>
                    Copyright &copy;
                    <a href="https://www.tecoop.cr/">
                        <img src="~/img/Tecoop.svg" alt="Icono de Tecoop" height="16px" width="16px">
                        <b> Tecoop</b>
                    </a>
                    @DateTime.Now.Year
                </span>
            </div>
        </div>
    </footer>
    <!-- End of Footer -->

