@page
@model Ttrac.Presentacion.Pages.Shared._MenuModel

        <!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/Estadisticas/Estadisticas">
        <div class="sidebar-brand-icon">
            <img class="menuIcon ml-2" src="~/img/icon.svg" />
        </div>
        <div class="sidebar-brand-text mx-2 text-right">TTrac</div>
    </a>
    <!-- Divider -->
    <hr class="sidebar-divider my-0">
    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="/Estadisticas/Estadisticas">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Estadísticas</span>
        </a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider">
    <!-- Heading -->
    <div class="sidebar-heading">
        Procesos
    </div>
    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
           aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Catálogos y Grupos</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/Catalogos/GrupoAgente">Grupos Agente</a>
                <a class="collapse-item" href="/Catalogos/Prioridades">Prioridades</a>
                <a class="collapse-item" href="/Catalogos/CategoriasTiquete">Categorías Tiquete</a>
                <a class="collapse-item" href="/Catalogos/EstadosTiquetes">Estados Tiquete</a>
            </div>
        </div>
    </li>
    <!-- Nav Item - Notificaciones Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseNotificaciones"
           aria-expanded="true" aria-controls="collapseNotificaciones">
            <i class="fas fa-fw fa-bell"></i>
            <span>Notificaciones</span>
        </a>
        <div id="collapseNotificaciones" class="collapse" aria-labelledby="headingNotificaciones"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/Notificaciones/Notificaciones">Configurar Notificaciones</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
           aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-globe"></i>
            <span>Respuestas Comunes</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/Respuestas/Respuestas">Respuestas Registradas</a>
            
                <a class="collapse-item" href="/Respuestas/Categorias/Categorias">Categorias</a>
            </div>
        </div>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Gestión
    </div>
    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTikect"
           aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-ticket-alt"></i>
            <span>Tiquetes</span>
        </a>
        <div id="collapseTikect" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/Tiquetes/Tiquetes">Gestión de Tiquetes</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUsers"
           aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-user"></i>
            <span>Usuarios</span>
        </a>
        <div id="collapseUsers" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/Cuentas/GestionarFuncionarios">Funcionarios</a>
                <a class="collapse-item" href="/Cuentas/EditarGrupos">Grupos Agentes</a>
                <a class="collapse-item" href="/Cuentas/ListaCuentas">Configurar Perfil</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseChannel"
           aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-comments"></i>
            <span>Canales Comunicación</span>
        </a>
        <div id="collapseChannel" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/Canales/Canales">Correo Electrónico</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->


      

