@page
@model Ttrac.Presentacion.Pages.Canales.CanalesModel
<div class="pl-4 pr-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-light">
            <li class="breadcrumb-item"><a href="/Canales/Canales"><i class="fas fa-fw fa-comments"></i> Canales de comunicación</a></li>
        </ol>
    </nav>
    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg">
                <div class="card-body mb-4">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        @*Primera fila*@
                            <div class="col-md-6">
                                <h6 class="h6 text-gray-900 mb-4 fw-bold">Correo Electrónico</h6>
                            </div>
                            <div class="col-md-6 d-md-flex justify-content-md-end">
                            <a class="btn btn-primary me-md-2" href=" /Canales/EditarCanalComunicacion" data-toggle="tooltip" data-placement="top" title="Agregar Funcionario">
                                    <i class="fas fa-plus me-2"></i>Agregar
                                </a>
                            </div>
                        </div>

                        <div class="row bg-light my-3 mx-1 rounded rounded-3">
                            <div class="col-md-6 d-flex align-items-center">
                                <div class="form-floating w-100">
                                    <select class="form-select" id="Grupos" aria-label="Default select example">
                                        <option selected disabled value="">Todos...</option>
                                        <option value="1">Activo</option>
                                        <option value="2">Inactivo</option>
                                    </select>
                                    <label for="Grupos">Tipo de Grupo</label>
                                </div>
                            </div>

                            <div class="form-floating col-md-6 my-3">
                                <div class="input-group">
                                    <input type="search" class="form-control" id="floatingInput" placeholder="Búsqueda" value="">
                                    <button class="btn btn-primary" type="button" id="buscarBoton">
                                        <i class="fas fa-search"></i> Buscar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                <div class="table-responsive pl-4 pr-4">
                        <table class="table table-bordered table-hover table-sm" id="dataTable">
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Dirección de correo electrónico</th>
                                    <th scope="col">Grupos de Agentes Asignado</th>
                                    <th scope="col">Estado</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <button class="btn btn-sm btn-light">
                                            <i class="fas fa-pencil-alt"></i>
                                        </button>
                                    </td>
                                    <td>ejemplo_uno@domino.com</td>
                                    <td>Todos</td>
                                    <td>
                                        <span class="badge badge-success">
                                            <i class="fas fa-check-circle"></i> Activo
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <button class="btn btn-sm btn-light">
                                            <i class="fas fa-pencil-alt"></i>
                                        </button>
                                    </td>
                                    <td>ejemplo_dos@domino.com</td>
                                    <td>Soporte correo</td>
                                    <td>
                                        <span class="badge badge-danger">
                                            <i class="fas fa-times-circle"></i> Inactivo
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <button class="btn btn-sm btn-light">
                                            <i class="fas fa-pencil-alt"></i>
                                        </button>
                                    </td>
                                    <td>ejemplo_tres@domino.com</td>
                                    <td>Soporte correo, Atención al cliente</td>
                                    <td>
                                        <span class="badge badge-danger">
                                            <i class="fas fa-times-circle"></i> Inactivo
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                <div class="row pl-4 pr-4">
                        <div class="col-sm-12 col-md-6">
                            <div class="dataTables_length col-sm-12 col-md-6">
                                <label class="mb-3 me-2">
                                    Registros por página
                                    <select name="dataTable_length" aria-controls="dataTable" class="custom-select custom-select-sm form-control form-control-sm col-md-3">
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                    </select>
                                </label>
                            </div>
                        </div>


                        <div class="col-md-6">
                            <div class="dataTables_paginate paging_simple_numbers justify-content-end" id="dataTable_paginate">
                                <ul class="pagination">
                                    <!-- Utilizamos justify-content-end para alinear a la derecha -->
                                    <li class="paginate_button page-item previous disabled" id="dataTable_previous">
                                        <a href="#" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">Anterior</a>
                                    </li>
                                    <li class="paginate_button page-item active">
                                        <a href="#" aria-controls="dataTable" data-dt-idx="1" tabindex="0" class="page-link">1</a>
                                    </li>
                                    <li class="paginate_button page-item ">
                                        <a href="#" aria-controls="dataTable" data-dt-idx="2" tabindex="0" class="page-link">2</a>
                                    </li>
                                    <li class="paginate_button page-item ">
                                        <a href="#" aria-controls="dataTable" data-dt-idx="3" tabindex="0" class="page-link">3</a>
                                    </li>
                                    <li class="paginate_button page-item ">
                                        <a href="#" aria-controls="dataTable" data-dt-idx="4" tabindex="0" class="page-link">4</a>
                                    </li>
                                    <li class="paginate_button page-item next" id="dataTable_next">
                                        <a href="#" aria-controls="dataTable" data-dt-idx="5" tabindex="0" class="page-link">Siguiente</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>