@page
@model IndexModel
@{
    ViewData["Title"] = "Incio";
}

<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <div class="jumbotron text-center">
                <h2 class="display-5 display-md-4 mb-4 mb-md-0">Bienvenido a la Municipalidad de Guácimo</h2>
                <p class="lead">Realiza tus trámites en línea de manera fácil y rápida</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-lg-6 mx-auto mt-4">
            <div class="card shadow">
                <div class="card-body">
                    <div class="text-center">
                        <h5 class="card-title">Ingreso</h5>
                        <p class="card-text">Accede a tu cuenta existente.</p>
                        <a href="/Inicio/Ingreso" class="btn btn-primary">Ir a Ingreso</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-lg-6 mx-auto mt-4">
            <div class="card shadow">
                <div class="card-body">
                    <div class="text-center">
                        <h5 class="card-title">Registro</h5>
                        <p class="card-text">Regístrate para obtener una cuenta nueva.</p>
                        <a href="/Inicio/Registro" class="btn btn-primary">Ir a Registro</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

